*{
    margin: 0;
    padding: 0;
}
.home {
	/* background-image: url("../assets/reception.jpg"); */
	/* background-image: url("../assets/reception.jpg"); */
    background-size: cover;
    background-position: fixed;
	background-position: top center;
	position: relative;
	z-index: 1;
    height: 100vh;
}
.home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 60vh;
	width: 100%;
	background-color: #faf3fa;
	opacity: 0.7;
	z-index: 1;
}
.home .hero {
	/* max-width: 1200px; */
	margin: 0 auto;
	padding: 0 ;
	justify-content: flex-start;
}
.text{
    padding: 300px;
}
.text h1{
    font-size: 4rem;
    text-shadow: 2px 2px 5px gray;
}


/* hotel info section */
.hotel-info{
    padding: 2%;
    text-align: center;
}
.span{
    color: #bd8334;
}
.title {
    font-size: 3rem;
    text-shadow: 2px 2px 4px #bd8334;
}
.hotel-info .content{
    display: flex;
    padding: 100px;
}
.hotel-info .content .left{
    padding: 3%;
    padding-right: 10%;
    text-align: left;

}
.hotel-info .left p{
    font-size: 1.2rem;
    font-weight: 200;
    word-spacing: 10px;
}
.hotel-info .right {
    padding: 10px;
}
.hotel-info .right .image{
    width: 500px;
    height: 400px;
    box-shadow: 10px 10px #bd8334,10px 10px 8px #faf3fa
}


/* offering */
.offering{
    text-align: center;
  
}
.offers{
    
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;
}
.offer{
  
    padding: 30px;
    border-radius: 20px 0;
    width: 350px;
    box-shadow: 5px 5px 5px #bd8334;
    
    
}
.offer:hover{
    background-image:url("../assets/rest.jpg");
}


/* passage */
.passage{
    width:100vw;
    height: 20vw;
    background-image: url("../assets/reception.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.roomSection{
    padding: 10%;
    text-align: center;

}
.rooms{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}
.room img{
    width: 100%;
}
.room{
    width: 300px;
    box-shadow: 5px 5px 5px grey;
    
}
.room .info{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.room h1{
    font-size: 1.2rem;
}
.room:hover{
    box-shadow: 7px 10px 5px grey;
}
.room button{
    padding: 10px;
    width:100px;
    background-color: #bd8334;
    border: none;
    color:#faf3fa
}
.room button:hover{
    background-color: #faf3fa;
    border: 1px solid#bd8334;
    color:#bd8334
}
.room span{
    padding: 10px;
}
.footer{
    background-color: black;
    width: 100vw;
    height: 30vh;
}
